.ant-card-body{
    padding: 0 10PX !important;
}
.detailWraper{
    width:140PX;
    height:90PX;
    padding-left: 10PX;
    display:inline-block;
    overflow:hidden;
    margin-top: 10PX;
}
.detail{
    width: 139PX;
    height: 21.818PX;
    overflow: hidden !important;
    /* text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important; */
}
.editInput{
    display: inline-block;
    width: 70PX;
    height: 21PX;
}
